@{
    ViewBag.Title = "Správa Workflow";
    var Workflows = (IEnumerable<WFMDatabase.Entities.Workflow>)ViewBag.Workflows;
}

    <h2>Správa Workflow</h2>
    <p>
        
            @Html.ActionLink("Vytvořit nový Workflow", "Create", "ManageWorkflows", htmlAttributes: new { @class = "btn btn-primary btn-sm" })
     
    </p>
    <table class="table">
        <tr>
            <th>
                Název Workflow
            </th>
            <th>
                Datum vytvoření
            </th>
            @if (User.IsInRole("admin"))
            {
                <th>
                    Autor
                </th>
            }

            <th></th>
        </tr>

        @foreach (var item in Workflows)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.DateTimeCreated
                </td>
                @if (User.IsInRole("admin"))
                {
                    <td>
                        @item.UserCreated.UserName
                    </td>
                }
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>

