@using WFManagementSystem.ViewModels
@model ProcessViewModel

@{
    ViewBag.Title = "Detail běžícího procesu";
}

@helper ModifyBlock(FieldBlockViewModel block, int i)
{
if (block.BlockType.Name == "rozdělení" || (block.BlockType.Name == "sloučení") || (block.BlockType.Name == "start") || (block.BlockType.Name == "konec"))
{
    return;
}
    <div class="col-lg-6">

        <label class="control-label">Uživatel: </label>
        <div>
            <span class="form-control">@(Model.Fields[i].Worker.UserName ?? "")</span>
        </div>

    </div>
if (block.BlockType.Name == "aktivita")
{
        <div class="col-lg-6">
            <label class="control-label">Aktivita: </label>
            <div>
                <span class="form-control">@(Model.Fields[i].Action ?? "")</span>
            </div>
        </div>
        <div class="col-lg-12">
            <label class="control-label">Výstup: </label>
            <div>
                <span class="form-control">@(Model.Fields[i].Output ?? "")</span>
            </div>
        </div>
}
if (block.BlockType.Name == "api")
{
        <div class="col-lg-6">
            <label class="control-label">Aktivita: </label>
            <div>
                <span class="form-control">@(Model.Fields[i].Action ?? "")</span>
            </div>
        </div>
        <div class="col-lg-12">
            <label class="control-label">Cena: </label>
            <div>
                <span class="form-control">@(Model.Fields[i].Output ?? "") EUR</span>
            </div>
        </div>
}
if (block.BlockType.Name == "soubor")
{
        <div class="col-lg-6">
            <label class="control-label">Popis soubor</label>
            <div>
                <span class="form-control">@(Model.Fields[i].Action ?? "")</span>
            </div>
        </div>
        <div class="col-lg-12">
            <label class="control-label">Cena: </label>
            <div>
                <span class="form-control">@(Model.Fields[i].Output ?? "") CZK</span>
            </div>
        </div>
}
}



<h2>Detail běžícího procesu</h2>

<div>
    <h3 class="text-center">@Model.WorkflowName</h3>
    <hr />
    @for (int i = 0; i < Model.Fields.Count; i++)
    {

        if (Model.Fields[i].Position == null)
        {
            <div class="form-group row block clear
                 @(Model.Fields[i].DateTimeEnded > Model.DateTimeStarted ? "success" : "")
                 @(Model.Fields[i].IsActive ? "waiting" : "")
                 ">
                <div class="col-lg-12 text-center">
                    <h4>
                        @(Model.Fields[i].Name ?? "")
                        @(Model.Fields[i].DateTimeEnded > Model.DateTimeStarted ? " - hotovo" : "")
                        @(Model.Fields[i].IsActive ? " - čeká na akci uživatele" : "")
                    </h4>
                </div>
                <div class="col-lg-6">
                    <label class="control-label">Typ bloku</label>
                    <div>
                        <span class="form-control">@(Model.Fields[i].BlockType.Name ?? "")</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="control-label">Popis bloku</label>
                    <div>
                        <span class="form-control">@(Model.Fields[i].Description ?? "")</span>
                    </div>
                </div>
                @ModifyBlock(Model.Fields[i], i)
            </div>
        }
        if (Model.Fields[i].Position != null)
        {
            var index = i;

            <div class="col-lg-6 paddingZero">
                @while (Model.Fields[i].Position != null)
                {
                    if (Model.Fields[i].Position == "left")
                    {
                        <div class="form-group row block
                             @(Model.Fields[i].DateTimeEnded > Model.DateTimeStarted ? "success" : "")
                             @(Model.Fields[i].IsActive ? "waiting" : "")
                             ">
                            <div class="col-lg-12 text-center">
                                <h4>
                                    @(Model.Fields[i].Name ?? "")
                                    @(Model.Fields[i].DateTimeEnded > Model.DateTimeStarted ? " - hotovo" : "")
                                    @(Model.Fields[i].IsActive ? " - čeká na akci uživatele" : "")
                                </h4>
                            </div>
                            <div class="col-lg-6">
                                <label class="control-label">Typ bloku</label>
                                <div>
                                    <span class="form-control">@(Model.Fields[i].BlockType.Name ?? "")</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label class="control-label">Popis bloku</label>
                                <div>
                                    <span class="form-control">@(Model.Fields[i].Description ?? "")</span>
                                </div>
                            </div>
                            @ModifyBlock(Model.Fields[i], i)
                        </div>
                    }
                    i++;
                }
            </div>
            i = index;
            <div class="col-lg-6 paddingZero">
                @while (Model.Fields[i].Position != null)
                {
                    if (Model.Fields[i].Position == "right")
                    {
                        <div class="form-group row block
                             @(Model.Fields[i].DateTimeEnded > Model.DateTimeStarted ? "success" : "")
                             @(Model.Fields[i].IsActive ? "waiting" : "")
                             ">
                            <div class="col-lg-12 text-center">
                                <h4>
                                    @(Model.Fields[i].Name ?? "")
                                    @(Model.Fields[i].DateTimeEnded > Model.DateTimeStarted ? " - hotovo" : "")
                                    @(Model.Fields[i].IsActive ? " - čeká na akci uživatele" : "")
                                </h4>
                            </div>
                            <div class="col-lg-6">
                                <label class="control-label">Typ bloku</label>
                                <div>
                                    <span class="form-control">@(Model.Fields[i].BlockType.Name ?? "")</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label class="control-label">Popis bloku</label>
                                <div>
                                    <span class="form-control">@(Model.Fields[i].Description ?? "")</span>
                                </div>
                            </div>
                            @ModifyBlock(Model.Fields[i], i)
                        </div>
                    }
                    i++;
                }
            </div>
            i--;
        }
    }
</div>
<div class="form-group row">

    <div class="col-lg-12">
        <strong> @Html.ActionLink("Zpět", "Index", "Process", htmlAttributes: new { @class = "btn btn-primary form-control" })</strong>
    </div>

</div>
