<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WFManagementSystem</title>
    @Styles.Render("~/Content/css")


    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            @Html.Partial("_MenuPartial")
            <div class="col-sm-9 col-lg-10">    
                <div class="container body-content">
                    @RenderBody()
                   
                    <footer class="text-center">
                        <hr />
                        <p>&copy; @DateTime.Now.Year - Workflow Management System</p>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
