@using WFMDatabase.Entities
@{
    ViewBag.Title = "Home Page";
    var testData = (List<Field>)ViewBag.Fields;
}

<div class="container">
    <div class="col-lg-12">
        <h1>Kroky ke schválení</h1>
        <p>@ViewBag.Message</p>
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>Nazev</th>
                    <th>Akce</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var process in testData)
            {

                <tr>
                    <td>@process.Block.Name</td>
                    <td>@process.Action</td>
                    <td>
                        <span class="btn btn-primary btn-sm">
                            @Html.ActionLink("Vykonat akci", "PerformAction", "Home", routeValues: new {id = @process.ID}, htmlAttributes: null)
                        </span>
                    </td>
                </tr>
            }



        </table>
    </div>
</div>

